@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Tilt+Warp&display=swap');

/* 
* {
  margin: 0;
  padding: 0;
  font-size: 100%;
} */
:root {
  --base_color: #00ff00;
  --background_color: #006400;
  --BnW: #dcdcdc;
  --root_background_color: #282828;
}

.yellow {
  --base_color: #fafa00;
  --background_color: #969600;
  --BnW: #282828;
  --root_background_color: #c8c8c8;
}

.lime {
  --base_color: #00ff00;
  --background_color: #006400;
  --BnW: #dcdcdc;
  --root_background_color: #282828;
}


.bw_shadow {
  --base_color: #ffffff;
  --background_color: #282828;
  --BnW: #dcdcdc;
  --root_background_color: #282828;
}

.tomato {
  --base_color: #ff0000;
  --background_color: #640000;
  --BnW: #dcdcdc;
  --root_background_color: #282828;
}

.magenta {
  --base_color: #cc338b;
  --background_color: #7a1f54;
  --BnW: #dcdcdc;
  --root_background_color: #282828;
}

.blush_pink {
  --base_color: #fe828c;
  --background_color: #66423f;
  --BnW: #dcdcdc;
  --root_background_color: #282828;
}


.vegetable {
  --base_color: #009600;
  --background_color: #004600;
  --BnW: #dcdcdc;
  --root_background_color: #282828;
}

.violet {
  --base_color: #a000ff;
  --background_color: #460075;
  --BnW: #dcdcdc;
  --root_background_color: #282828;
}

.aqua {
  --base_color: #0affff;
  --background_color: #008c8c;
  --BnW: #dcdcdc;
  --root_background_color: #282828;
}

.fuchsia {
  --base_color: #ff00ff;
  --background_color: #500050;
  --BnW: #dcdcdc;
  --root_background_color: #282828;
}

.mahogany {
  --base_color: #c04000;
  --background_color: #612000;
  --BnW: #dcdcdc;
  --root_background_color: #282828;
}

.turquoise {
  --base_color: #00ffbb;
  --background_color: #00694f;
  --BnW: #dcdcdc;
  --root_background_color: #282828;
}

.blue {
  --base_color: #365aff;
  --background_color: #002f8c;
  --BnW: rgb(220, 220, 220);
  --root_background_color: #282828;
}

.tangelo {
  --base_color: #ff9500;
  --background_color: #794700;
  --BnW: #dcdcdc;
  --root_background_color: #282828;
}

.lavender_gray {
  --base_color: #bdbbd7;
  --background_color: #646374;
  --BnW: #ffffff;
  --root_background_color: #282828;
}

.indigo_blue {
  --base_color: #6600ff;
  --background_color: #6a53ff;
  --BnW: #282828;
  --root_background_color: #c8c8c8;
}

.kidman {
  --base_color: #ffdade;
  --background_color: #7e423d;
  --BnW: #dcdcdc;
  --root_background_color: #282828;
}

.ibm {
  --base_color: #0051ff;
  --background_color: #557fff;
  --BnW: #282828;
  --root_background_color: #c8c8c8;
}

.jungle {
  --base_color: #00b100;
  --background_color: #57ff57;
  --BnW: #282828;
  --root_background_color: #c8c8c8;
}


.cherry_red {
  --base_color: #f7022a;
  --background_color: #ff6f87;
  --BnW: #282828;
  --root_background_color: #c8c8c8;
}

.text-bnw {
  color: var(--BnW);
}

.text-base-color,
.textHover:hover {
  color: var(--base_color);
}

.textHover {
  color: var(--BnW);
}

.bg-base-color {
  background-color: var(--base_color);
}

.border-bnw {
  border: 2px solid var(--BnW);
}

.text-background-color {
  color: var(--background_color);
}

.bg-background-color,
.bghoverActive {
  background-color: var(--background_color);
}

.bghoverActive:hover {
  background-color: var(--base_color);
  transition: all .3s;
}

.stroke_colorNwidth {
  -webkit-text-stroke: var(--base_color);
  -webkit-text-stroke-width: 1px;
  text-shadow: 0 2px 0 var(--base_color);
}

.shortcut-key-heading {
  -webkit-text-stroke: var(--background_color);
  -webkit-text-stroke-width: 1px;
  text-shadow: 0 2px 0 var(--background_color);
}

.border-base-color {
  border-color: var(--base_color);
}

/* theme */
@font-face {
  font-family: roboto;
  src: url(./components/rtsetting/font_family/Roboto-Regular.ttf);
}

@font-face {
  font-family: playpen;
  src: url(./components/rtsetting/font_family/PlaypenSans-Regular.ttf);
}

@font-face {
  font-family: poppins;
  src: url(./components/rtsetting/font_family/Poppins-Regular.ttf);
}

@font-face {
  font-family: openn;
  src: url(./components/rtsetting/font_family/OpenSans-Regular.ttf);
}

@font-face {
  font-family: dynaPuff;
  src: url(./components/rtsetting/font_family/DynaPuff-Regular.ttf);
}

@font-face {
  font-family: oswald;
  src: url(./components/rtsetting/font_family/Oswald-Regular.ttf);
}

@font-face {
  font-family: mukta;
  src: url(./components/rtsetting/font_family/Mukta-Regular.ttf);
}

@font-face {
  font-family: ubuntu;
  src: url(./components/rtsetting/font_family/Ubuntu-Regular.ttf);
}

@font-face {
  font-family: lemon;
  src: url(./components/rtsetting/font_family/Lemon-Regular.ttf);
}

@font-face {
  font-family: instrument;
  src: url(./components/rtsetting/font_family/InstrumentSerif-Regular.ttf);
}

@font-face {
  font-family: tektur;
  src: url(./components/rtsetting/font_family/Tektur-Regular.ttf);
}

@font-face {
  font-family: caveat;
  src: url(./components/rtsetting/font_family/Caveat-Regular.ttf);
}

@font-face {
  font-family: orbitron;
  src: url(./components/rtsetting/font_family/Orbitron-Regular.ttf);
}

@font-face {
  font-family: kalnia;
  src: url(./components/rtsetting/font_family/Kalnia-Regular.ttf);
}

@font-face {
  font-family: merienda;
  src: url(./components/rtsetting/font_family/Merienda-Regular.ttf);
}

@font-face {
  font-family: gluten;
  src: url(./components/rtsetting/font_family/Gluten-Regular.ttf);
}

.roboto {
  font-family: roboto;
}

.playpen {
  font-family: playpen;
}

.poppins {
  font-family: poppins;
}

.openn {
  font-family: openn;
  font-weight: bold;
}

.dynaPuff {
  font-family: dynaPuff;
  font-weight: bold;
}

.oswald {
  font-family: oswald;
}

.mukta {
  font-family: mukta;
  font-weight: bold;
}

.ubuntu {
  font-family: ubuntu;
}

.lemon {
  font-family: lemon;
  font-weight: lighter;
}

.instrument {
  font-family: instrument;
  font-weight: bold;
}

.tektur {
  font-family: tektur;
  font-weight: bold;
}

.caveat {
  font-family: caveat;
  font-weight: bold;
}

.orbitron {
  font-family: orbitron;
  font-weight: bold;
}

.kalnia {
  font-family: kalnia;
  font-weight: bold;
}

.merienda {
  font-family: merienda;
}

.gluten {
  font-family: gluten;
  font-weight: bold;
}


html {
  width: 100%;
  /* box-sizing: border-box; */
}

/* https://looka.com/blog/color-combinations/ */
/* https://thecolorsmeaning.com/list-of-colors-with-names-hex-rgb-cmyk-codes/ */
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
  font-family: "Roboto Mono", "Roboto Mono", "Vazirmatn";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: rgb(40, 40, 40); */
  background-color: var(--root_background_color);
  /* background-color: rgb(255, 40, 40); */
  user-select: none;
  overflow: hidden;
  transition: all .5s;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

kbd {
  background-color: var(--background_color);
  border: 2px solid var(--base_color);
  border-radius: 5px;
  margin: 0 5px;
  padding: 0 5pt;
}

.inputStyle {
  width: 35vw;
}

svg#rtSVG {
  position: absolute;
  top: 0;
  z-index: 20;
  background-color: transparent;
  /* filter: blur(10px); */
  /* filter: blur(8px); */
  /* -webkit-filter: blur(8px); */
  transition: all 3s;
}

.glassOnly {
  background: linear-gradient(135deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  transition: all 3s;
}

.glass {
  background: linear-gradient(135deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  transition: all 3s;
  animation: glassFade 1s linear 6.5s 1 forwards;
  -webkit-animation: glassFade 1s linear 6.5s 1 forwards;
  -o-animation: glassFade 1s linear 6.5s 1 forwards;
  -moz-animation: glassFade 1s linear 6.5s 1 forwards;
  -ms-animation: glassFade 1s linear 6.5s 1 forwards;
}

@keyframes glassFade {
  from {
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px)
  }

  to {
    backdrop-filter: blur(0);
    -webkit-backdrop-filter: blur(0)
  }
}

#randomText {
  opacity: 0;
  transform: translate(0, 0);
  animation: introRtText 1.6s ease-in-out 3s;
  -webkit-animation: introRtText 1.6s ease-in-out 3s;
  -moz-animation: introRtText 1.6s ease-in-out 3s;
  -o-animation: introRtText 1.6s ease-in-out 3s;
  -ms-animation: introRtText 1.6s ease-in-out 3s;
}

#t-verticalSVG {
  transform: translate(-0.5%, 10%) scaleY(0.8);
  animation: incrementLine 1s linear 4s;
  -webkit-animation: incrementLine 1s linear 4s;
  -moz-animation: incrementLine 1s linear 4s;
  -o-animation: incrementLine 1s linear 4s;
  -ms-animation: incrementLine 1s linear 4s;
}

.typingTest {
  opacity: 0.3;
  transform: translateY(-2%);
  animation: bottomScaleText 1s linear 4s;
  -webkit-animation: bottomScaleText 1s linear 4s;
  -moz-animation: bottomScaleText 1s linear 4s;
  -o-animation: bottomScaleText 1s linear 4s;
  -ms-animation: bottomScaleText 1s linear 4s;
}

#keyborad {
  opacity: 0;
  transform: translate(20%, 7%) scale(1, 0.85);
  animation: introAnimationKeyboard 4s ease-in-out 1s
    /*delay*/
  ;
  -webkit-animation: introAnimationKeyboard 4s ease-in-out 1s
    /*delay*/
  ;
  -moz-animation: introAnimationKeyboard 4s ease-in-out 1s
    /*delay*/
  ;
  -o-animation: introAnimationKeyboard 4s ease-in-out 1s
    /*delay*/
  ;
  -ms-animation: introAnimationKeyboard 4s ease-in-out 1s
    /*delay*/
  ;
}

#RTIntro path,
#keyboardOfLogo path,
#keyboardOfLogoSM path,
tspan {
  fill: var(--base_color);
}

#RTIntro {
  /*transform: translate(-17%, -20%) scale(0.5);*/
  /*logo having on top left*/
  transform: translate(0, 0);
  animation: RTIntroLogoAnimation 1s ease-in 6s;
  -webkit-animation: RTIntroLogoAnimation 1s ease-in 6s;
  -moz-animation: RTIntroLogoAnimation 1s ease-in 6s;
  -o-animation: RTIntroLogoAnimation 1s ease-in 6s;
  -ms-animation: RTIntroLogoAnimation 1s ease-in 6s;
}

#backgroundFrame {
  opacity: 1;
  transition: opacity 1s linear 1.2s;
  -webkit-transition: opacity 1s linear 1.2s;
  -moz-transition: opacity 1s linear 1.2s;
  -o-transition: opacity 1s linear 1.2s;
  -ms-transition: opacity 1s linear 1.2s;
}

@keyframes RTIntroLogoAnimation {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes bottomScaleText {
  from {
    opacity: 0.3;
    transform: translateY(-2%);
  }

  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes incrementLine {
  from {
    transform: translate(-0.5%, 10%) scaleY(0.8);
  }

  to {
    transform: translate(-0.5%, 0%) scaleY(1);
  }
}

@keyframes introRtText {
  0% {
    opacity: 0;
    transform: translate(-10%, 0);
  }

  20% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes introAnimationKeyboard {
  0% {
    transform: translate(-129%, -257%) scale(6);
    opacity: 0.01;
  }

  50% {
    transform: translate(20%, 7%) scale(1, 0.85);
    opacity: 1;
  }

  80% {
    transform: translate(-0.5%, 7%) scale(1, 0.85);
    opacity: 1;
  }

  100% {
    transform: translate(0, 0) scale(1);
    opacity: 1;
  }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 100vh;
  background-color: #aaa;
}


#keyShortCutContainer {
  display: none;
}

#containeroftest {
  display: flex;
  justify-content: center;
}

.headingtest {
  position: relative;
  color: rgb(0, 255, 42);
  font-size: 3rem;
}

.headingtest::before {
  content: attr(data-key1);
  color: var(--base_color);
  position: absolute;
  top: -0.3rem;
  left: 0;
  width: 100%;
  /* width: 0%; */
  /* width: 9.091%; */
  height: 100%;
  /* border-right: 4px solid red; */
  overflow: hidden;
  /* border-radius: 2rem; */
  /* animation: textanimate 2s alternate infinite; */
  transition: all 1s;
}

#TestContainer {
  width: 80%;
  margin: auto;
}

/* 
@keyframes textanimate {
  0%,100%{
    width: 0%;
  }
  50%{
    width: 105%;
  }
} */
#typingInput {
  transition: all 2s;
}

.content-box .typing-text {
  overflow: hidden;
}

.typing-text::-webkit-scrollbar {
  width: 0;
}

.typing-text>p,
.cargame-typing-text>p {
  /* font-size: 21px; */
  /* text-align: justify; */
  /* letter-spacing: 1px; */
  word-break: break-all;
}

/* #car>g{ */
/* #strenger-car>g {
  stroke: var(--base_color);
  stroke-width: 6;
} */

.typing-text>p>span,
.cargame-typing-text>p>span {
  position: relative;
}

#super-correct {
  color: var(--base_color);
  background-color: transparent;
  border-bottom: none;
  border-radius: 0;
}

.letter,
.gameletter {
  color: var(--background_color);
}

.correct {
  color: white;
  text-shadow: 0 0 5px var(--base_color);
}

/* .incorrect {
  color: var(--base_color);
  background-color: var(--background_color);
  border-bottom: 3pt solid var(--base_color);
  border-radius: 5px;
  /* border-radius: 4px; 
} */
.incorrect {
  color: red;
  background-color: rgba(255, 0, 0, .3);
  border-bottom: 3pt solid red;
  border-radius: 5px;
  /* border-radius: 4px; */
}

.word-spacing {
  word-spacing: 5px;
}

/* .typing-text p span.active {
    color: #17A2B8;
}*/
.caretline {
  --caret_line_width: .3vw;
  --caret_line_height: 100%;
  --caret_opacity: 1 --caret_outline: 2px solid var(--base_color);
  --caret_color: rgba(255, 255, 0, 1)
}

.caretunderscore {
  --caret_line_width: 100%;
  --caret_line_height: .5vw;
  --caret_opacity: 1 --caret_outline: 2px solid var(--base_color);
  --caret_color: rgba(255, 255, 0, 1)
}

.caretbox {
  --caret_line_width: 100%;
  --caret_line_height: 100%;
  --caret_opacity: 1;
  --caret_outline: 5px solid var(--base_color);
  --caret_color: rgba(255, 255, 0, .5);
  --caret_shadow: 0 5px 0 white;
}

.off {
  --caret_line_width: 0;
  --caret_line_height: 0;
  --caret_opacity: 0 --caret_outline: 2px solid var(--base_color);
  --caret_color: rgba(255, 255, 0, 1)
}

/* .withAnimation {
  --animation: caretMove .5s alternate 1 forwards ease;
}

.withoutAnimation {
  --animation: none;
} */

.typing-text>p>span.active::before,
.cargame-typing-text>p>span.active::before {
  content: "";
  position: absolute;
  /* width: 100%;/*=>  ||  
  height: 30px;
  border: 3px solid red;
  opacity: 10%; */

  width: var(--caret_line_width);
  height: var(--caret_line_height);
  /*=>  |  */

  /* height: 5px; */
  /* width: 100%; */
  /*=>  _  */

  bottom: 0;
  left: 0;
  z-index: -100;
  opacity: var(--caret_opacity);
  filter: opacity(100%);
  border-radius: .3rem;
  box-shadow: var(--caret_shadow);
  outline: var(--caret_outline);
  background: var(--caret_color);
  transform: translate(0, 0);
  transition: all 0.15s ease-in-out;
}

.with-animation::before {
  /* move caret smoothly */
  animation: caretMove 0.15s 1 forwards linear;
}

.with-animation-backword::before {
  /* move backword caret smoothly */
  animation: caretMoveBack 0.15s 1 forwards linear;
}

@keyframes caretMove {
  from {
    left: -100%;
  }

  to {
    left: 0%;
  }
}

@keyframes caretMoveBack {
  from {
    left: 100%;
  }

  to {
    left: 0%;
  }
}

#initial-caret,
#initial-caret2 {
  opacity: 1;
  transition: all .2s;
  animation: caretBlink 1s infinite ease-in-out;
}

@keyframes caretBlink {
  50% {
    opacity: 0;
  }
}

button {
  font-weight: bolder;
}

.mode>button:focus,
.btnActive {
  color: white;
  background-color: var(--base_color);
  transform: scale(1);
  transition: all .3s ease-in-out;
}

.mode>button:hover {
  color: var(--base_color);
  transform: scale(1.1);
  background-color: rgba(255, 255, 255, .5);
  transition: all .3s ease-in-out;
}

.mode>button:active {
  color: white;
  background-color: var(--base_color);
  transform: scale(.9);
  transition: all .3s ease-in-out;
}

.mode>button {
  border-radius: 50%;
  padding: 3px 5px;
}

h1.mode-heading {
  color: #fff;
}


/*
.content-box .content {
    margin-top: 17px;
    display: flex;
    padding: 12px 0;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-top: 3px solid #007acc;
}
.content button {
    outline: none;
    border: none;
    width: 105px;
    color: #007acc;
    padding: 8px 0;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 15px;
    border: 3px solid #007acc;
    background: none;
    transition: transform 0.2s ease;
}
.content button:active {
    transform: scale(0.89);
}
.content button:hover {
    background: #FFFFFF;
}
.content .result-details {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: calc(100% - 140px);
    justify-content: space-between;
}
.result-details li {
    display: flex;
    height: 20px;
    list-style: none;
    position: relative;
    align-items: center;
}
.result-details li:not(:first-child) {
    padding-left: 22px;
    border-left: 2px solid #bfbfbf;
}
.result-details li p {
    font-size: 13px;
}
.result-details li span {
    display: block;
    font-size: 13px;
    margin-left: 10px;
}
li span b {
    font-weight: 500;
}
li:not(:first-child) span {
    font-weight: 500;
}
@media (max-width: 745px) {
    .wrapper {
        padding: 20px;
    }
    .content-box .content {
        padding: 20px 0;
    }
    .content-box .typing-text {
        max-height: 100%;
    }
    .typing-text p {
        font-size: 19px;
        text-align: left;
    }
    .content button {
        width: 100%;
        font-size: 15px;
        padding: 10px 0;
        margin-top: 20px;
    }
    .content .result-details {
        width: 100%;
    }
    .result-details li:not(:first-child) {
        border-left: 0;
        padding: 0;
    }
    .result-details li p,
    .result-details li span {
        font-size: 15px;
    }
}
@media (max-width: 518px) {
    .wrapper .content-box {
        padding: 10px 15px 0;
    }
    .typing-text p {
        font-size: 13px;
    }
    .result-details li {
        margin-bottom: 10px;
    }
    .content button {
        margin-top: 10px;
    }
} 
*/


/* .toggle{
  width: auto;
  height: 100px;
  background-color: red;
} */


/* style on setting page */


.transition {
  transition: all .3s ease-in-out;
}

@keyframes scrollToTopAnimate {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-5px);
  }
}

.scrollAnimation {
  transform: translateY(0);
  animation: scrollToTopAnimate .5s ease-in-out infinite;
}

.toggle-open {
  height: 300px;
  overflow: hidden;
  transition: all .3s ease-in-out;
}

.toggle-close {
  height: 0;
}

.btnSetting {
  padding: .25rem 0;
  border-radius: 5px;
  background-color: var(--background_color);
  transform: scale(1);
}

.btnSetting:hover {
  /* color: rgb(255, 61, 61); */
  color: var(--background_color);
  background-color: white;
  /* outline: 3px solid red; */
  transform: scale(1.05);
}

.btnSetting:active {
  /* color: rgb(255, 61, 61); */
  color: var(--base_color);
  background-color: white;
  transform: scale(0.95);
}

.btnNav {
  padding: .25rem 0;
  border-radius: 5px;
  background-color: var(--background_color);
}

.btnNav:hover {
  /* color: rgb(255, 61, 61); */
  color: var(--background_color);
  background-color: white;
}

.btnSetting:focus,
.activeSetting {
  /* Style the button when it is focused (clicked and then released) */
  /* Change to your desired permanent style */
  /* color: rgb(255, 61, 61); */
  /* box-shadow: 0 5px 0 0 rgb(255, 61, 61); */
  color: var(--background_color);
  box-shadow: 0 5px 0 0 var(--base_color);
  background-color: white;
}

.shadow {
  box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.84),
    -1px -1px 3px var(--base_color);
  transition: all .1s ease-in-out;
}

.shadow:hover,
.activeShadow {
  box-shadow: 2px 2px 10px white,
    -2px -2px 10px var(--base_color);
}

#themeIconBtn {
  transform: rotate(0);
  background-color: #00ff00;
  color: #006400;
  animation: rotateBtn 5s infinite forwards linear, changeColorBtn 15s infinite forwards linear;
}

@keyframes rotateBtn {
  0% {transform: rotate(0);}
  100% {transform: rotate(360deg);}
}

@keyframes changeColorBtn {
  0% {background-color: #fafa00;color: #969600;}
  5% {background-color: #f7022a;color: #ff6f87;}
  10% {background-color: #00b100;color: #57ff57;}
  15% {background-color: #0051ff;color: #557fff;}
  20% {background-color: #6600ff;color: #6a53ff;}
  25% {background-color: #ffffff;color: #282828;}
  30% {background-color: #ff0000;color: #640000;}
  35% {background-color: #cc338b;color: #7a1f54;}
  40% {background-color: #fe828c;color: #66423f;}
  45% {background-color: #ff00ff;color: #500050;}
  50% {background-color: #ffdade;color: #7e423d;}
  55% {background-color: #ff9500;color: #794700;}
  60% {background-color: #bdbbd7;color: #646374;}
  65% {background-color: #00ff00;color: #006400;}
  70% {background-color: #009600;color: #004600;}
  75% {background-color: #0affff;color: #008c8c;}
  80% {background-color: #a000ff;color: #460075;}
  85% {background-color: #00ffbb;color: #00694f;}
  90% {background-color: #365aff;color: #002f8c;}
  95% {background-color: #c04000;color: #612000;}
  100% {background-color: #fafa00;color: #969600;}
}

/* typing car game */

.carMove {
  transform: translateX(0vw) scale(.7, .6);
  /*1em(0vw) => starting position of the car; And 85em(66vw) => is the finishing point of the car;*/
  transition: all .1s linear;
}

#flagSvg {
  fill: var(--base_color);
}

.flag {
  transform: rotateY(180deg) scale(.75);
  animation: scaleAnimation 1s infinite ease-in-out;
}

.gameTimer {
  /* color: var(--base_color); */
  color: red;
  text-shadow: 0 0 3px black;
  animation: countdownBlinking infinite linear .5s;
}

@keyframes countdownBlinking {
  from {
    color: white;
  }

  to {
    color: red;
  }
}

@keyframes scaleAnimation {
  from {
    transform: rotateY(180deg) scale(.75);
  }

  to {
    transform: rotateY(180deg) scale(.90);
  }
}


/* #overlay { */
.overlay-1,
.overlay-2,
.overlay-3,
.overlay-4 {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}

/* #text{ */
.overlayContent {
  position: absolute;
  width: 30vw;
  height: 70vh;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: var(--base_color);
  -webkit-backdrop: 10px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.key {
  border-top: 2px solid var(--background_color);
}

.key:nth-child(1) {
  border-top: none;
}

.key:hover {
  background-color: rgba(255, 255, 255, 0.5);
}